*{
  box-sizing: border-box;
}

body{
  font-family: 'Bellefair', serif;
  background-color: hsl(230, 35%, 7%);
  max-height: 100%;
  color: #ffff;
  height: 100%;
  margin: 0;
}

.full-page{
  width: 100%;
  max-height: 100vh;
  background-color: #ffff;
}

ul{ 
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
span{
  margin-right: 0.6rem;
}
h1{
  font-size: 9.3rem;
  margin: 1.5rem 0;
}
h2{
  font-size: 6.2rem;
}
h3{
  font-size: 3.5rem;
}
h4{
  font-size: 2rem;
}
h5{
  font-size: 1.7rem;
  letter-spacing: 0.29rem;
  margin: 0;
  color:#D0D6F9;
}

p{
  margin: 0;
  font-size:1.1rem;
  line-height:2rem ;
  color: #D0D6F9;
}

@media screen and (max-width:968px) and (min-width:768px) {
  li{
    font-size: 0.8rem;
  }
}